@use "sass:meta";
@include meta.load-css("themes.scss");

@tailwind base;
@tailwind components;
@tailwind utilities;




@layer base {
  @include meta.load-css("base");
}

@layer components {
  @include meta.load-css("components");
  @include meta.load-css("navigation");
  @include meta.load-css("utilities");
  @include meta.load-css("buttons");
}
