---
import PageHeader from "@/components/core/PageHeader.astro";
import config from "@/config/config.json";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const entry = await getEntry("contact", "index");
const { contact_form_action } = config.params;
---

<Base entry_keys={["contact", "index"]}>
  <section class="pb-6 pt-16">
    <div class="container">
      <PageHeader page_data={entry.data} />
    </div>
  </section>

  <section class="section pt-0">
    <div class="container">
      <div class="row">
        <div class="md:col-12 md:order-1 grid place-content-center">
          <a
            class="btn-primary block w-full text-center"
            href="https://wa.me/573116901241?text=Hola, mi nombre es [nombre]&body=[mensaje]"
            target="_blank"
            onclick="alert('Serás redirigido a WhatsApp para enviar tu mensaje.')"
          >
            Enviar Mensaje por WhatsApp
          </a>
        </div>
      </div>
    </div>
  </section>
</Base>
