---
import FeatherIcon from "@/components/react/FeatherIcon";

const { counter } = Astro.props;
---

<div class="counter mt-16">
  <div class="flex flex-wrap justify-center items-center gap-6 bg-surface px-10 py-8 shadow-lg rounded-[20px]
              sm:flex-col lg:flex-row">
    {
      counter.map((item: any) => (
        <a href={item.href} target="_blank" class="text-primary flex items-center justify-center">
          <FeatherIcon name={item.icon ?? 'plus'} color={item.color} size={40} client:load />
        </a>
      ))
    }
  </div>
</div>
